body{
    font-family: sans-serif;
    color: #0a0a23;
}

/* Container */

#container{
    max-width: 70%;
    margin: auto;
    border: 1px solid black;
}

/* Heading Section */

#heading{
    padding: 12px;
}

/* Divider */

#years{
    padding: 1px;
    text-align: right;
    color: white;
    width: 100%;
    background-color: #0a0a23;

}

.year{
    margin: 0 10px;
    font-weight: 600;
}

/* Table Section */

table{
    padding: 12px;
    border-spacing: 0px;
    width: 100%;
    line-height: 1.8rem;
}
caption{
    color: #356eaf;
    font-size: 1.3em;
    font-weight: normal;
    text-align: left;
    padding: 8px 0px 2px 14px; 
}

th{
    text-align: left;
    width: 60%;
}

.data td{
    margin: 0 10px;
    text-align: right;
}

tr.data {
    background-image: linear-gradient(to bottom, #dfdfe2 1.845rem, white 1.845rem);
}

.italic{
    font-style: italic;
}

.description {
    width: 0%;
}

/* Totals Section */

.total{
    font-weight: 600;
    text-align: right;
}
