body{
    font-family: sans-serif;
    color: #0a0a23;
}

/* Container */

#container{
    max-width: 70%;
    margin: auto;
    border: 1px solid black;
    padding: 0.5rem;
}

/* Heading Section */

#heading{
    padding: 12px;
}

/* Divider */

#years{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    color: white;
    width: 100%;
    background-color: #0a0a23;

}

.year{
    margin: 0 0.6em;
    font-weight: 600;
    
}

/* Table Section */

table{
    padding: 12px;
    border-spacing: 0px;
    width: 100%;
    line-height: 1.8rem;
    border-collapse: collapse;
}

caption{
    color: #356eaf;
    font-size: 1.3em;
    font-weight: normal;
    text-align: left;
    padding: 8px 0px 2px 4px; 
}

th{
    text-align: left;
    width: 60%;
    padding-left: 0.5rem;
}

td{
    padding-right: 0.3rem;
    text-align: right;
}

.data {
    background-image: linear-gradient(to bottom, #dfdfe2 1.845rem, white 1.845rem);
}

.italic{
    font-style: italic;
}

.description {
    width: 100%;
    text-align: left;
}

/* Totals Section */

.total{
    font-weight: 600;
    text-align: right;
}

/* Border Section */

.border{
    border: 2.12px solid black;

}
